<h3>GetTaxiiiiiiiiiii</h3>
<div id="taxi-box">
	<table id="driver-table">
		<thead>
			<th>Driver Id</th>
		</thead>
		<tbody>
			<%=render @drivers%>
		</tbody>
	</table>
	<table id="metrics-table">
		<thead>
			<th>Metrics Name</th>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div id="map-canvas">
	
</div>


