@import "bootstrap";

html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map-canvas{
  height: 40%;
  width: 40%;
  margin: 0px;
  padding: 0px;
}

#taxi-box{
  display: inline;
}

table#driver-table{
  
}
table#metrics-table{
  
}



